{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        /* Add your own styles here */
        body {
            font-family: 'Segoe UI', Arial, sans-serif;
            background-color: #f9f9f9;
            text-align: left;
            padding: 20px;
        }

        h1 {
            font-size: 28px;
            color: #333;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: #666;
        }
    </style>

    <title> 
        {% block title %}
        My Freaking' Awesome Blog! 
        {% endblock %}
    </title>
</head>

<body>
    {% block content %}

    {% endblock %}
   
</body>
</html> {% endcomment %}
